Novidade! Atalhos do teclado … Os atalhos de teclado do Drive foram atualizados para oferecer navegação por letras iniciais
style.css
body {
    background: rgb(19, 18, 18);
    color: whitesmoke;
    margin: 0px;
    font-family: "Nerko One", system-ui;
}

header {
    border-bottom: solid 2px rgb(194, 54, 54);
    padding: 20px;
    font-size: 50;
}

.chamada {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgb(167, 29, 29);
    justify-content: center;
}

.titulo-video {
    margin: 3%;
    font-size: 20xp;
}

img {
    height: 200px;
}

img fila-videos {
    GAP: 2OPX;
    overflow-x: auto;
}
